<!doctype html>
<title>{% block title %}{% endblock %} - MACTracker</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="static/Chart.js" type="text/javascript"></script>
<nav>
  <h1><a style="color: #FFFFFF" href="{{ url_for('index') }}">MACTracker</a></h1>
  <ul>
    {% if g.user %}
      <li><span style="color: #0065c2">{{ g.user['username'] }}</span>
      <li><a style="color: #FFFFFF" href="{{ url_for('auth.logout') }}">Sign Out</a>
      <li><a style="color: #FFFFFF" class="action" href="{{ url_for('main.node_config') }}">Node Configuration</a>
      <li><a style="color: #FFFFFF" class="action" href="{{ url_for('main.area_config') }}">Area Configuration</a>
      <li><a style="color: #FFFFFF" class="action" href="{{ url_for('main.mac_list') }}">Detected MACs</a>
    {% else %}
      <li><a style="color: #FFFFFF" href="{{ url_for('auth.register') }}">Register</a>
      <li><a style="color: #FFFFFF" href="{{ url_for('auth.login') }}">Sign In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
